# Preprocesamiento de datos: Limpieza, formateo y validación del conjunto de datos

## Librerías

In [40]:
# importar librerias necesarias
import pandas as pd 
from faker import Faker

## Dataset

In [41]:
# carga de datos y primera visualización
df = pd.read_csv("/Users/samanthaestudillo/Documents/No Country/hackaton h4-05/h4-05-fintech/data/data/raw/financial_profiles_argentina.csv")
df.head()

,Nombres,Apellidos,id,email,user_id,age,occupation,FinancialGoals,RiskTolerance,FinancialPreference,FinancialOptions,FinalKnowledge,target_period,income_source,income_average,expenses_average,saving_plan,contribution
0,Rixjomh,Povna,718919,rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,VIVIENDA,MODERADO,AHORRO,NaN,AVANZADO,1 año,dependiente,548843,412840,NO,40
1,Cvlisikp,Boeaf,797826,cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,VACACIONES,CONSERVADOR,AHORRO,NaN,INTERMEDIO,10 años,ambos,823536,473397,SI,98
2,Dcii,Cmmvcq,617096,dcii.cmmvcq@outlook.com,617096,69,NaN,VIVIENDA,ARRIESGADO,INVERSION,OTROS,NINGUNO,5 meses,dependiente,828342,485594,NO,59
3,Qcepsmwb,Xhvukxg,957587,qcepsmwb.xhvukxg@hotmail.com,957587,48,NaN,JUBILACION,ARRIESGADO,INVERSION,ETFS,NINGUNO,5 meses,dependiente,868632,506774,NO,39
4,Rknj,Rumyz,120636,rknj.rumyz@gmail.com,120636,24,Agrónomo,VIVIENDA,CONSERVADOR,INVERSION,ACCIONES,BASICO,1 año,ambos,824883,772137,SI,13

In [42]:
# tamaño del dataset 
df.shape

(500, 18)

In [43]:
# información general del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nombres              500 non-null    object
 1   Apellidos            500 non-null    object
 2   id                   500 non-null    int64
 3   email                500 non-null    object
 4   user_id              500 non-null    int64
 5   age                  500 non-null    int64
 6   occupation           454 non-null    object
 7   FinancialGoals       500 non-null    object
 8   RiskTolerance        500 non-null    object
 9   FinancialPreference  500 non-null    object
 10  FinancialOptions     250 non-null    object
 11  FinalKnowledge       500 non-null    object
 12  target_period        500 non-null    object
 13  income_source        500 non-null    object
 14  income_average       500 non-null    int64
 15  expenses_average     500 non-null    int64
 16  saving_plan          500 non-null    object
 17  contribution         500 non-null    int64
dtypes: int64(6), object(12)
memory usage: 70.4+ KB

In [44]:
# estandarizar columnas con formato snake case 
df.rename(columns={
    'Nombres': 'first_name',
    'Apellidos': 'last_name',
    'FinancialGoals': 'financial_goals',
    'RiskTolerance': 'risk_tolerance',
    'FinancialPreference': 'financial_preference',
    'FinancialOptions': 'financial_options',
    'FinalKnowledge': 'financial_knowledge',
    'target_period': 'investment_period',
    'contribution': 'monthly_contribution'
}, inplace=True)

df.head()

,first_name,last_name,id,email,user_id,age,occupation,financial_goals,risk_tolerance,financial_preference,financial_options,financial_knowledge,investment_period,income_source,income_average,expenses_average,saving_plan,monthly_contribution
0,Rixjomh,Povna,718919,rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,VIVIENDA,MODERADO,AHORRO,NaN,AVANZADO,1 año,dependiente,548843,412840,NO,40
1,Cvlisikp,Boeaf,797826,cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,VACACIONES,CONSERVADOR,AHORRO,NaN,INTERMEDIO,10 años,ambos,823536,473397,SI,98
2,Dcii,Cmmvcq,617096,dcii.cmmvcq@outlook.com,617096,69,NaN,VIVIENDA,ARRIESGADO,INVERSION,OTROS,NINGUNO,5 meses,dependiente,828342,485594,NO,59
3,Qcepsmwb,Xhvukxg,957587,qcepsmwb.xhvukxg@hotmail.com,957587,48,NaN,JUBILACION,ARRIESGADO,INVERSION,ETFS,NINGUNO,5 meses,dependiente,868632,506774,NO,39
4,Rknj,Rumyz,120636,rknj.rumyz@gmail.com,120636,24,Agrónomo,VIVIENDA,CONSERVADOR,INVERSION,ACCIONES,BASICO,1 año,ambos,824883,772137,SI,13

In [45]:
fake = Faker('es_ES')

# Generar nombres y apellidos aleatorios
df['first_name'] = [fake.first_name() for _ in range(len(df))]
df['last_name'] = [fake.last_name() for _ in range(len(df))]

df.head(10)

,first_name,last_name,id,email,user_id,age,occupation,financial_goals,risk_tolerance,financial_preference,financial_options,financial_knowledge,investment_period,income_source,income_average,expenses_average,saving_plan,monthly_contribution
0,Azucena,Ayllón,718919,rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,VIVIENDA,MODERADO,AHORRO,NaN,AVANZADO,1 año,dependiente,548843,412840,NO,40
1,Andrés Felipe,Rodrigo,797826,cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,VACACIONES,CONSERVADOR,AHORRO,NaN,INTERMEDIO,10 años,ambos,823536,473397,SI,98
2,Amor,Figueras,617096,dcii.cmmvcq@outlook.com,617096,69,NaN,VIVIENDA,ARRIESGADO,INVERSION,OTROS,NINGUNO,5 meses,dependiente,828342,485594,NO,59
3,Paz,Vicente,957587,qcepsmwb.xhvukxg@hotmail.com,957587,48,NaN,JUBILACION,ARRIESGADO,INVERSION,ETFS,NINGUNO,5 meses,dependiente,868632,506774,NO,39
4,Epifanio,Alemán,120636,rknj.rumyz@gmail.com,120636,24,Agrónomo,VIVIENDA,CONSERVADOR,INVERSION,ACCIONES,BASICO,1 año,ambos,824883,772137,SI,13
5,María,Vélez,771768,jtdka.unglkjwg@outlook.com,771768,62,Policía,OTROS,MODERADO,AHORRO,NaN,NINGUNO,5 meses,jubilación,790220,519032,NO,93
6,Chucho,Castillo,134711,fpenirt.xkhbq@outlook.com,134711,53,Psicólogos,VACACIONES,CONSERVADOR,INVERSION,CDF,INTERMEDIO,5 meses,jubilación,501050,410166,SI,71
7,Mercedes,Galván,573330,grqovee.ltgjsdcd@hotmail.com,573330,52,Filósofos,EDUCACION,ARRIESGADO,AHORRO,NaN,BASICO,10 años,ambos,488801,389975,NO,34
8,Álvaro,Sevilla,961627,ftaic.qocvhw@hotmail.com,961627,24,Modelos de moda,JUBILACION,MODERADO,AHORRO,NaN,BASICO,5 meses,independiente,850986,848159,SI,59
9,Adelardo,Rivera,428325,ukto.rfyilwa@outlook.com,428325,35,Fotógrafo,OTROS,MODERADO,INVERSION,ACCIONES,INTERMEDIO,10 años,independiente,415712,348772,SI,41

## Verificar valores nulos

In [46]:
# revisar valores nulos o vacíos 
df.isnull().sum()

first_name                0
last_name                 0
id                        0
email                     0
user_id                   0
age                       0
occupation               46
financial_goals           0
risk_tolerance            0
financial_preference      0
financial_options       250
financial_knowledge       0
investment_period         0
income_source             0
income_average            0
expenses_average          0
saving_plan               0
monthly_contribution      0
dtype: int64

In [47]:
# tratar los valores nulos 
df['occupation'] = df['occupation'].fillna('Otros')
df['financial_options'] = df['financial_options'].fillna('Opción ahorro')

## Verificar duplicados

In [48]:
# revisar si existen duplicados 
df.duplicated().sum()

np.int64(0)

## Formato de las columnas

In [49]:
# crear funcion para estandarización del texto
def format_sentence_case(df):
    """
    Convierte todo el texto en un DataFrame a formato oración: 
    primera letra en mayúscula, resto en minúsculas.
    """
    for col in df.select_dtypes(include=['object']).columns: 
        df[col] = df[col].astype(str).str.capitalize()  
    return df

df = format_sentence_case(df)

df.head()

,first_name,last_name,id,email,user_id,age,occupation,financial_goals,risk_tolerance,financial_preference,financial_options,financial_knowledge,investment_period,income_source,income_average,expenses_average,saving_plan,monthly_contribution
0,Azucena,Ayllón,718919,Rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,Vivienda,Moderado,Ahorro,Opción ahorro,Avanzado,1 año,Dependiente,548843,412840,No,40
1,Andrés felipe,Rodrigo,797826,Cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,Vacaciones,Conservador,Ahorro,Opción ahorro,Intermedio,10 años,Ambos,823536,473397,Si,98
2,Amor,Figueras,617096,Dcii.cmmvcq@outlook.com,617096,69,Otros,Vivienda,Arriesgado,Inversion,Otros,Ninguno,5 meses,Dependiente,828342,485594,No,59
3,Paz,Vicente,957587,Qcepsmwb.xhvukxg@hotmail.com,957587,48,Otros,Jubilacion,Arriesgado,Inversion,Etfs,Ninguno,5 meses,Dependiente,868632,506774,No,39
4,Epifanio,Alemán,120636,Rknj.rumyz@gmail.com,120636,24,Agrónomo,Vivienda,Conservador,Inversion,Acciones,Basico,1 año,Ambos,824883,772137,Si,13

In [50]:
# revisar tipo de datos para cada columna
print(df.dtypes)

first_name              object
last_name               object
id                       int64
email                   object
user_id                  int64
age                      int64
occupation              object
financial_goals         object
risk_tolerance          object
financial_preference    object
financial_options       object
financial_knowledge     object
investment_period       object
income_source           object
income_average           int64
expenses_average         int64
saving_plan             object
monthly_contribution     int64
dtype: object

### Columnas categóricas

#### 1

In [51]:
# revisar columna de objetivo financiero
df['financial_goals'].value_counts()

financial_goals
Jubilacion               75
Vacaciones               69
Educacion                67
Proyectos_largo_plazo    66
Imprevistos              64
Vivienda                 54
Otros                    54
Libertad_financiera      51
Name: count, dtype: int64

In [52]:
# función para quitar los guiones bajos
def remove_underscores(goal):
    return goal.replace('_', ' ')

df['financial_goals'] = df['financial_goals'].apply(remove_underscores)

In [53]:
# diccionario para agregar acentos
accent_dict = {
    'Jubilacion': 'Jubilación',
    'Educacion': 'Educación'
}

# reemplazar los valores con acentos usando el diccionario
df['financial_goals'] = df['financial_goals'].apply(lambda x: accent_dict.get(x, x))

#### 2

In [54]:
# revisar columna de tolerancia al riesgo
df['risk_tolerance'].value_counts()

risk_tolerance
Conservador    175
Moderado       167
Arriesgado     158
Name: count, dtype: int64

#### 3

In [55]:
# revisar columna de preferencia financiera
df['financial_preference'].value_counts()

financial_preference
Ahorro       250
Inversion    250
Name: count, dtype: int64

In [56]:
# diccionario para agregar acentos
accent_dict2 = {
    'Inversion': 'Inversión'
}

# reemplazar los valores con acentos usando el diccionario
df['financial_preference'] = df['financial_preference'].apply(lambda x: accent_dict2.get(x, x))

#### 4

In [57]:
# revisar columna de opciones financieras
df['financial_options'].value_counts()

financial_options
Opción ahorro    250
Otros             48
Etfs              43
Cdf               42
Acciones          39
Bonos             39
Cdears            39
Name: count, dtype: int64

In [58]:
# diccionario para reemplazar mayúsculas
capital_dict = {
    'Etfs': 'ETFS',
    'Cdf': 'CDF',
    'Cdears': 'CDEARS'
}

# reemplazar los valores usando el diccionario
df['financial_options'] = df['financial_options'].apply(lambda x: capital_dict.get(x, x))

#### 5

In [59]:
# revisar columna de conocimiento financiero
df['financial_knowledge'].value_counts()

financial_knowledge
Intermedio    136
Basico        136
Avanzado      115
Ninguno       113
Name: count, dtype: int64

In [60]:
# diccionario para agregar acentos
accent_dict3 = {
    'Basico': 'Básico'
}

# reemplazar los valores con acentos usando el diccionario
df['financial_knowledge'] = df['financial_knowledge'].apply(lambda x: accent_dict3.get(x, x))

#### 6

In [61]:
# revisar columna de retorno de inversión
df['investment_period'].value_counts()

investment_period
1 año      139
1 mes      131
10 años    123
5 meses    107
Name: count, dtype: int64

In [62]:
# función para reemplazar valores
def replace_investment_period(period):
    if '1 mes' in period:
        return 3  # Reemplazar 1 mes por 3 meses
    elif '5 meses' in period:
        return 6  # Reemplazar 5 meses por 6 meses
    elif '1 año' in period:
        return 9  # Reemplazar 1 año por 12 meses
    elif '10 años' in period:
        return 12  # Reemplazar 10 años por +12 meses
    return period 

df['investment_period'] = df['investment_period'].apply(replace_investment_period)

#### 7

In [63]:
# revisar columna de fuente de ingresos
df['income_source'].value_counts()

income_source
Dependiente      169
Independiente    149
Ambos            139
Jubilación        43
Name: count, dtype: int64

### Corregir tipos de datos

In [64]:
# convertir columnas de texto
df['investment_period'] = df['investment_period'].astype(str)

# convetrir columnas booleanas
df['saving_plan'] = df['saving_plan'].astype(bool)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   first_name            500 non-null    object
 1   last_name             500 non-null    object
 2   id                    500 non-null    int64
 3   email                 500 non-null    object
 4   user_id               500 non-null    int64
 5   age                   500 non-null    int64
 6   occupation            500 non-null    object
 7   financial_goals       500 non-null    object
 8   risk_tolerance        500 non-null    object
 9   financial_preference  500 non-null    object
 10  financial_options     500 non-null    object
 11  financial_knowledge   500 non-null    object
 12  investment_period     500 non-null    object
 13  income_source         500 non-null    object
 14  income_average        500 non-null    int64
 15  expenses_average      500 non-null    int64
 16  saving_plan           500 non-null    bool
 17  monthly_contribution  500 non-null    int64
dtypes: bool(1), int64(6), object(11)
memory usage: 67.0+ KB

In [66]:
df.head(10)

,first_name,last_name,id,email,user_id,age,occupation,financial_goals,risk_tolerance,financial_preference,financial_options,financial_knowledge,investment_period,income_source,income_average,expenses_average,saving_plan,monthly_contribution
0,Azucena,Ayllón,718919,Rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,Vivienda,Moderado,Ahorro,Opción ahorro,Avanzado,9,Dependiente,548843,412840,True,40
1,Andrés felipe,Rodrigo,797826,Cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,Vacaciones,Conservador,Ahorro,Opción ahorro,Intermedio,12,Ambos,823536,473397,True,98
2,Amor,Figueras,617096,Dcii.cmmvcq@outlook.com,617096,69,Otros,Vivienda,Arriesgado,Inversión,Otros,Ninguno,6,Dependiente,828342,485594,True,59
3,Paz,Vicente,957587,Qcepsmwb.xhvukxg@hotmail.com,957587,48,Otros,Jubilación,Arriesgado,Inversión,ETFS,Ninguno,6,Dependiente,868632,506774,True,39
4,Epifanio,Alemán,120636,Rknj.rumyz@gmail.com,120636,24,Agrónomo,Vivienda,Conservador,Inversión,Acciones,Básico,9,Ambos,824883,772137,True,13
5,María,Vélez,771768,Jtdka.unglkjwg@outlook.com,771768,62,Policía,Otros,Moderado,Ahorro,Opción ahorro,Ninguno,6,Jubilación,790220,519032,True,93
6,Chucho,Castillo,134711,Fpenirt.xkhbq@outlook.com,134711,53,Psicólogos,Vacaciones,Conservador,Inversión,CDF,Intermedio,6,Jubilación,501050,410166,True,71
7,Mercedes,Galván,573330,Grqovee.ltgjsdcd@hotmail.com,573330,52,Filósofos,Educación,Arriesgado,Ahorro,Opción ahorro,Básico,12,Ambos,488801,389975,True,34
8,Álvaro,Sevilla,961627,Ftaic.qocvhw@hotmail.com,961627,24,Modelos de moda,Jubilación,Moderado,Ahorro,Opción ahorro,Básico,6,Independiente,850986,848159,True,59
9,Adelardo,Rivera,428325,Ukto.rfyilwa@outlook.com,428325,35,Fotógrafo,Otros,Moderado,Inversión,Acciones,Intermedio,12,Independiente,415712,348772,True,41

In [70]:
df.to_csv('financial_profile_iupi.csv', index=False)

## Valores inconsistentes o fuera de rango

### Columnas numéricas

In [67]:
df.describe().T

# seleccionar las columnas específicas
columns = ['age', 'investment_period', 'income_average', 'expenses_average', 'monthly_contribution']

# revisar estadísticas
print("\n--- Estadísticas numéricas ---")
df[columns].describe().T

--- Estadísticas numéricas ---

,count,mean,std,min,25%,50%,75%,max
age,500.0,43.500,14.909950,19.0,30.00,43.0,55.00,70.0
income_average,500.0,596965.764,179901.286718,282667.0,430338.75,604398.0,756240.75,899213.0
expenses_average,500.0,444663.714,159997.266087,149838.0,307457.75,423790.0,546873.00,869223.0
monthly_contribution,500.0,50.128,30.379688,1.0,22.00,51.0,78.00,100.0

**Conclusiones y posibles ajustes:**

* `age` e `investment_period` parecen estar dentro de un rango adecuado.
* `income_average` y `expenses_average` pueden necesitar un poco más de validación, especialmente si los valores parecen altos. Sería bueno comparar estos valores con estadísticas de ingresos y gastos en el mercado.
* `monthly_contribution` parece estar bien distribuido y tiene una coherencia razonable.

En resumen, los datos parecen bastante coherentes en general, sería prudente revisar los valores de ingresos y gastos, y entender el contexto de las métricas para asegurar que todo esté alineado con las expectativas de la población representada.

# Convertir variables categóricas para modelo de machine learning

In [68]:
categorical_cols = ['financial_goals', 'risk_tolerance', 'financial_preference', 'financial_options', 'financial_knowledge', 'income_source']

df[categorical_cols] = df[categorical_cols].apply(lambda x: x.astype('category'))

print(df.dtypes)

first_name                object
last_name                 object
id                         int64
email                     object
user_id                    int64
age                        int64
occupation                object
financial_goals         category
risk_tolerance          category
financial_preference    category
financial_options       category
financial_knowledge     category
investment_period         object
income_source           category
income_average             int64
expenses_average           int64
saving_plan                 bool
monthly_contribution       int64
dtype: object

In [71]:
df.to_csv('financial_profile_categorical.csv', index=False)