# Preprocesamiento de datos: Limpieza, formateo y validación del conjunto de datos

## Librerías

In [1]:
# importar librerias necesarias
import pandas as pd

## Dataset

In [2]:
# carga de datos y primera visualización
df = pd.read_csv("/Users/samanthaestudillo/Documents/No Country/hackaton h4-05/h4-05-fintech/data/data_analysis/financial_profiles_argentina.csv")
df.head()

,Nombres,Apellidos,id,email,user_id,age,occupation,FinancialGoals,RiskTolerance,FinancialPreference,FinancialOptions,FinalKnowledge,target_period,income_source,income_average,expenses_average,saving_plan,contribution
0,Rixjomh,Povna,718919,rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,VIVIENDA,MODERADO,AHORRO,NaN,AVANZADO,1 año,dependiente,548843,412840,NO,40
1,Cvlisikp,Boeaf,797826,cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,VACACIONES,CONSERVADOR,AHORRO,NaN,INTERMEDIO,10 años,ambos,823536,473397,SI,98
2,Dcii,Cmmvcq,617096,dcii.cmmvcq@outlook.com,617096,69,NaN,VIVIENDA,ARRIESGADO,INVERSION,OTROS,NINGUNO,5 meses,dependiente,828342,485594,NO,59
3,Qcepsmwb,Xhvukxg,957587,qcepsmwb.xhvukxg@hotmail.com,957587,48,NaN,JUBILACION,ARRIESGADO,INVERSION,ETFS,NINGUNO,5 meses,dependiente,868632,506774,NO,39
4,Rknj,Rumyz,120636,rknj.rumyz@gmail.com,120636,24,Agrónomo,VIVIENDA,CONSERVADOR,INVERSION,ACCIONES,BASICO,1 año,ambos,824883,772137,SI,13

In [3]:
# tamaño del dataset 
df.shape

(500, 18)

In [4]:
# información general del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nombres              500 non-null    object
 1   Apellidos            500 non-null    object
 2   id                   500 non-null    int64
 3   email                500 non-null    object
 4   user_id              500 non-null    int64
 5   age                  500 non-null    int64
 6   occupation           454 non-null    object
 7   FinancialGoals       500 non-null    object
 8   RiskTolerance        500 non-null    object
 9   FinancialPreference  500 non-null    object
 10  FinancialOptions     250 non-null    object
 11  FinalKnowledge       500 non-null    object
 12  target_period        500 non-null    object
 13  income_source        500 non-null    object
 14  income_average       500 non-null    int64
 15  expenses_average     500 non-null    int64
 16  saving_plan          500 non-null    object
 17  contribution         500 non-null    int64
dtypes: int64(6), object(12)
memory usage: 70.4+ KB

In [5]:
# estandarizar columnas con formato snake case 
df.rename(columns={
    'Nombres': 'first_name',
    'Apellidos': 'last_name',
    'FinancialGoals': 'financial_goals',
    'RiskTolerance': 'risk_tolerance',
    'FinancialPreference': 'financial_preference',
    'FinancialOptions': 'financial_options',
    'FinalKnowledge': 'financial_knowledge',
    'target_period': 'investment_period',
    'contribution': 'monthly_contribution'
}, inplace=True)

df.head()

,first_name,last_name,id,email,user_id,age,occupation,financial_goals,risk_tolerance,financial_preference,financial_options,financial_knowledge,investment_period,income_source,income_average,expenses_average,saving_plan,monthly_contribution
0,Rixjomh,Povna,718919,rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,VIVIENDA,MODERADO,AHORRO,NaN,AVANZADO,1 año,dependiente,548843,412840,NO,40
1,Cvlisikp,Boeaf,797826,cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,VACACIONES,CONSERVADOR,AHORRO,NaN,INTERMEDIO,10 años,ambos,823536,473397,SI,98
2,Dcii,Cmmvcq,617096,dcii.cmmvcq@outlook.com,617096,69,NaN,VIVIENDA,ARRIESGADO,INVERSION,OTROS,NINGUNO,5 meses,dependiente,828342,485594,NO,59
3,Qcepsmwb,Xhvukxg,957587,qcepsmwb.xhvukxg@hotmail.com,957587,48,NaN,JUBILACION,ARRIESGADO,INVERSION,ETFS,NINGUNO,5 meses,dependiente,868632,506774,NO,39
4,Rknj,Rumyz,120636,rknj.rumyz@gmail.com,120636,24,Agrónomo,VIVIENDA,CONSERVADOR,INVERSION,ACCIONES,BASICO,1 año,ambos,824883,772137,SI,13

In [6]:
# importar libreria para generar nombres aleatorios más realistas
from faker import Faker 

fake = Faker('es_ES')

# Generar nombres y apellidos aleatorios
df['first_name'] = [fake.first_name() for _ in range(len(df))]
df['last_name'] = [fake.last_name() for _ in range(len(df))]

df.head(10)

,first_name,last_name,id,email,user_id,age,occupation,financial_goals,risk_tolerance,financial_preference,financial_options,financial_knowledge,investment_period,income_source,income_average,expenses_average,saving_plan,monthly_contribution
0,Piedad,Jurado,718919,rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,VIVIENDA,MODERADO,AHORRO,NaN,AVANZADO,1 año,dependiente,548843,412840,NO,40
1,Ángeles,Cortés,797826,cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,VACACIONES,CONSERVADOR,AHORRO,NaN,INTERMEDIO,10 años,ambos,823536,473397,SI,98
2,Débora,Gordillo,617096,dcii.cmmvcq@outlook.com,617096,69,NaN,VIVIENDA,ARRIESGADO,INVERSION,OTROS,NINGUNO,5 meses,dependiente,828342,485594,NO,59
3,Eliseo,Gomis,957587,qcepsmwb.xhvukxg@hotmail.com,957587,48,NaN,JUBILACION,ARRIESGADO,INVERSION,ETFS,NINGUNO,5 meses,dependiente,868632,506774,NO,39
4,Malena,Riera,120636,rknj.rumyz@gmail.com,120636,24,Agrónomo,VIVIENDA,CONSERVADOR,INVERSION,ACCIONES,BASICO,1 año,ambos,824883,772137,SI,13
5,Ángeles,Bosch,771768,jtdka.unglkjwg@outlook.com,771768,62,Policía,OTROS,MODERADO,AHORRO,NaN,NINGUNO,5 meses,jubilación,790220,519032,NO,93
6,Leocadio,Donoso,134711,fpenirt.xkhbq@outlook.com,134711,53,Psicólogos,VACACIONES,CONSERVADOR,INVERSION,CDF,INTERMEDIO,5 meses,jubilación,501050,410166,SI,71
7,Plácido,Moll,573330,grqovee.ltgjsdcd@hotmail.com,573330,52,Filósofos,EDUCACION,ARRIESGADO,AHORRO,NaN,BASICO,10 años,ambos,488801,389975,NO,34
8,Belen,Cánovas,961627,ftaic.qocvhw@hotmail.com,961627,24,Modelos de moda,JUBILACION,MODERADO,AHORRO,NaN,BASICO,5 meses,independiente,850986,848159,SI,59
9,Alberto,Arnaiz,428325,ukto.rfyilwa@outlook.com,428325,35,Fotógrafo,OTROS,MODERADO,INVERSION,ACCIONES,INTERMEDIO,10 años,independiente,415712,348772,SI,41

## Verificar valores nulos

In [7]:
# revisar valores nulos o vacíos 
df.isnull().sum()

first_name                0
last_name                 0
id                        0
email                     0
user_id                   0
age                       0
occupation               46
financial_goals           0
risk_tolerance            0
financial_preference      0
financial_options       250
financial_knowledge       0
investment_period         0
income_source             0
income_average            0
expenses_average          0
saving_plan               0
monthly_contribution      0
dtype: int64

In [8]:
# tratar los valores nulos 
df['occupation'] = df['occupation'].fillna('Desconocido')
df['financial_options'] = df['financial_options'].fillna('OTROS')

## Verificar duplicados

In [9]:
# revisar si existen duplicados 
df.duplicated().sum()

np.int64(0)

## Formato de las columnas

In [10]:
# crear funcion para estandarización del texto
def format_sentence_case(df):
    """
    Convierte todo el texto en un DataFrame a formato oración: 
    primera letra en mayúscula, resto en minúsculas.
    """
    for col in df.select_dtypes(include=['object']).columns: 
        df[col] = df[col].astype(str).str.capitalize()  
    return df

df = format_sentence_case(df)

df.head()

,first_name,last_name,id,email,user_id,age,occupation,financial_goals,risk_tolerance,financial_preference,financial_options,financial_knowledge,investment_period,income_source,income_average,expenses_average,saving_plan,monthly_contribution
0,Piedad,Jurado,718919,Rixjomh.povna@gmail.com,718919,69,Controlador de tráfico aéreo,Vivienda,Moderado,Ahorro,Otros,Avanzado,1 año,Dependiente,548843,412840,No,40
1,Ángeles,Cortés,797826,Cvlisikp.boeaf@yahoo.com,797826,38,Filósofos,Vacaciones,Conservador,Ahorro,Otros,Intermedio,10 años,Ambos,823536,473397,Si,98
2,Débora,Gordillo,617096,Dcii.cmmvcq@outlook.com,617096,69,Desconocido,Vivienda,Arriesgado,Inversion,Otros,Ninguno,5 meses,Dependiente,828342,485594,No,59
3,Eliseo,Gomis,957587,Qcepsmwb.xhvukxg@hotmail.com,957587,48,Desconocido,Jubilacion,Arriesgado,Inversion,Etfs,Ninguno,5 meses,Dependiente,868632,506774,No,39
4,Malena,Riera,120636,Rknj.rumyz@gmail.com,120636,24,Agrónomo,Vivienda,Conservador,Inversion,Acciones,Basico,1 año,Ambos,824883,772137,Si,13

In [11]:
# revisar tipo de datos para cada columna
print(df.dtypes)

first_name              object
last_name               object
id                       int64
email                   object
user_id                  int64
age                      int64
occupation              object
financial_goals         object
risk_tolerance          object
financial_preference    object
financial_options       object
financial_knowledge     object
investment_period       object
income_source           object
income_average           int64
expenses_average         int64
saving_plan             object
monthly_contribution     int64
dtype: object

### Columnas categóricas

In [12]:
# revisar columna de objetivo financiero
df['financial_goals'].value_counts()

financial_goals
Jubilacion               75
Vacaciones               69
Educacion                67
Proyectos_largo_plazo    66
Imprevistos              64
Vivienda                 54
Otros                    54
Libertad_financiera      51
Name: count, dtype: int64

In [13]:
# función para quitar los guiones bajos
def remove_underscores(goal):
    return goal.replace('_', ' ')

df['financial_goals'] = df['financial_goals'].apply(remove_underscores)

In [14]:
# diccionario para agregar acentos
accent_dict = {
    'Jubilacion': 'Jubilación',
    'Educacion': 'Educación'
}

# reemplazar los valores con acentos usando el diccionario
df['financial_goals'] = df['financial_goals'].apply(lambda x: accent_dict.get(x, x))

In [16]:
# revisar columna de tolerancia al riesgo
df['risk_tolerance'].value_counts()

risk_tolerance
Conservador    175
Moderado       167
Arriesgado     158
Name: count, dtype: int64

In [17]:
# revisar columna de preferencia financiera
df['financial_preference'].value_counts()

financial_preference
Ahorro       250
Inversion    250
Name: count, dtype: int64

In [18]:
# diccionario para agregar acentos
accent_dict2 = {
    'Inversion': 'Inversión'
}

# reemplazar los valores con acentos usando el diccionario
df['financial_preference'] = df['financial_preference'].apply(lambda x: accent_dict2.get(x, x))

In [20]:
# revisar columna de opciones financieras
df['financial_options'].value_counts()

financial_options
Otros       298
Etfs         43
Cdf          42
Acciones     39
Bonos        39
Cdears       39
Name: count, dtype: int64

In [21]:
# diccionario para reemplazar mayúsculas
capital_dict = {
    'Etfs': 'ETFS',
    'Cdf': 'CDF',
    'Cdears': 'CDEARS'
}

# reemplazar los valores usando el diccionario
df['financial_options'] = df['financial_options'].apply(lambda x: capital_dict.get(x, x))

In [ ]:
# revisar columna de retorno de inversión
df['investment_period'].value_counts()

In [23]:
# función para reemplazar valores
def replace_investment_period(period):
    if '1 mes' in period:
        return 3  # Reemplazar 1 mes por 3 meses
    elif '5 meses' in period:
        return 6  # Reemplazar 5 meses por 6 meses
    elif '1 año' in period:
        return 9  # Reemplazar 1 año por 9 meses
    elif '10 años' in period:
        return 12  # Reemplazar 10 años por 12 meses
    return period 

df['investment_period'] = df['investment_period'].apply(replace_investment_period)

In [24]:
# revisar columna de fuente de ingresos
df['income_source'].value_counts()

income_source
Dependiente      169
Independiente    149
Ambos            139
Jubilación        43
Name: count, dtype: int64

## Valores inconsistentes o fuera de rango

### Columnas numéricas

In [27]:
df.describe().T

# Seleccionar las columnas específicas para aplicar describe()
columns = ['age', 'investment_period', 'income_average', 'expenses_average', 'monthly_contribution']

# Aplicar describe() solo a las columnas seleccionadas
df[columns].describe().T

,count,mean,std,min,25%,50%,75%,max
age,500.0,43.500,14.909950,19.0,30.00,43.0,55.00,70.0
investment_period,500.0,7.524,3.378795,3.0,3.00,9.0,9.00,12.0
income_average,500.0,596965.764,179901.286718,282667.0,430338.75,604398.0,756240.75,899213.0
expenses_average,500.0,444663.714,159997.266087,149838.0,307457.75,423790.0,546873.00,869223.0
monthly_contribution,500.0,50.128,30.379688,1.0,22.00,51.0,78.00,100.0